@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i&display=swap&subset=cyrillic');

body{
    background: var(--sepia);
    font-family: 'Open Sans', sans-serif;
}

/* https://tympanus.net/codrops/2012/01/02/fullscreen-background-image-slideshow-with-css3/ */
.cb-slideshow,
.cb-slideshow:after { 
    margin:0;
    padding:0;
    list-style:none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 0; 
}

.cb-slideshow:after { 
    content: '';
    background: transparent url(../images/pattern.png) repeat top left; 
}

.cb-slideshow li{
    height: 100%;
}

.cb-slideshow li span { 
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    color: transparent;
    background-size: cover!important;
    background-position: 50% 50%!important;
    opacity: 0;
    z-index: 0;
	-webkit-backface-visibility: hidden;
    -webkit-animation: imageAnimation 36s linear infinite 0s;
    animation: imageAnimation 36s linear infinite 0s; 
}
.cb-slideshow li div { 
    z-index: 5;
    position: absolute;
    bottom: 30px;
    left: 30px;
    width: 100%;
    opacity: 0;
    color: #fff;
    -webkit-animation: titleAnimation 36s linear infinite 0s;
    animation: titleAnimation 36s linear infinite 0s; 
}
.cb-slideshow li div h3 { 
    font-family: 'Open Sans', sans-serif;
    font-size: 140px;
    padding: 0;
    margin: 0;
}

@media screen and (max-width: 1140px) { 
    .cb-slideshow li div h3 { 
        font-size: 60px 
    }
}
@media screen and (max-width: 600px) { 
    .cb-slideshow li div h3 { 
        font-size: 24px 
    }
}

@-webkit-keyframes imageAnimation { 
    0% { opacity: 0;
    -webkit-animation-timing-function: ease-in; }
    8% { opacity: 1;
         -webkit-animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}
@keyframes imageAnimation { 
    0% { opacity: 0;
    animation-timing-function: ease-in; }
    8% { opacity: 1;
         animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}

@-webkit-keyframes titleAnimation { 
    0% { opacity: 0 }
    8% { opacity: 0 }
    10% { opacity: 1 }
    11% { opacity: 1 }
    14% { opacity: 0 }
    100% { opacity: 0 }
}

@keyframes titleAnimation { 
    0% { opacity: 0 }
    8% { opacity: 0 }
    10% { opacity: 1 }
    11% { opacity: 1 }
    14% { opacity: 0 }
    100% { opacity: 0 }
}

.no-cssanimations .cb-slideshow li span{
	opacity: 1;
}
